<!DOCTYPE html>
<html lang="en">
<head>
    <title>ThroneBet</title>
    <link rel="stylesheet" href="../css/channel.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="../js/channel.js"></script>
</head>
<body>
<div id="messageContainer">
    <ul id="messages"></ul>
</div>
<div id="betChoices">
    <% for (var i = 0; i < Object.keys(zones).length; i++) {
        var zoneName = Object.keys(zones)[i];
        var zone = zones[zoneName];
    %>
    <div class="zone" id="<%= zoneName.toLowerCase().replace(/ /g, '-') %>-zone">
        <% for (var j = 0; j < zone.length; j++) {
            var death = zone[j];
            var deathShort = death.toLowerCase().replace(/ /g, '-');
        %>
        <div class="death" id="<%= deathShort %>-death" data-name="<%= death %>" title="<%= death %>">
            <img class="deathImage" src="../images/sprites/<%= deathShort %>.png"
                 onError="this.src='../images/placeholder-death.jpg'">
        </div>
        <% } %>
    </div>
    <% } %>
</div>
</body>
</html>