<!DOCTYPE html>
<html lang="en">
<head>
    <title>ThroneBet</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<% if(user) { %>
    Logged in as <%= JSON.stringify(user.name) %><br/>
    <% if(userChannel && channelList.has(userChannel.steamId) ) { %>
        <a href="channel/<%= user.steamId %>"><h1>Join channel</h1></a>
    <% } else if (userChannel) { %>
        <a id="startChannel" href="#"><h1>Start channel</h1></a>
    <% } else { %>
        <a href="create-channel"><h1>Create new channel</h1></a>
    <% } %>
<% } else { %>
    <h1>Log in:</h1>
    <a href="auth"><img src="images/sits_large_border.png"></a>
    <p>You must be logged in to create a channel.</p>
<% } %>
<h1>Join channel:</h1>
<form id="joinChannelForm">
    <% if (channelList.size == 0) { %>
        <p>No channels currently</p>
    <%  } else {
        for (var channel of channelList.values()) {
            var channelId = channel.steamId;
            var channelName = channel.creatorName;
            var channelViewers = channel.users.length;
        %>
            <a href="channel/<%= channelId %>"><%= channelName %> (<%= channelViewers %>)</a>
        <%
        }
    }
    %>
</form>
</body>
</html>